.recommend-pics{
    position: relative;
}
.recommend-cards{
  width : 250px; 
  margin-top : 5px;
  object-fit: cover; /*이미지 적합하게 배치*/
  border-radius: 10px;
  transition: opacity 0.3s ease; /*효과를 부드럽게 적용하기 위해 트랜지션 설정*/
}
.recommend-cards:hover {
  opacity : 0.8; /* hover 시 이미지의 투명도를 줄여 어두워지게 함 */
}
.user-profile-rcm{/*recommend에 사용되는 프로필 사진*/
  position: absolute;
  bottom: 10px;
  left: 10px; /* 원하는 위치로 조정 */
  width: 25px;
  height: 25px; 
  border-radius : 100%;
}
.pics-info-rcm{ /*recommend에 사용되는 user info*/
  position: absolute;
  bottom: 12px; /* 원하는 높이로 조정 */
  left: 40px; /* 원하는 위치로 조정 */
  color : white;
  text-shadow : 1px 1px 1px rgba(0, 0, 0, 0.184); /*잘보이게 하기 위해 그림자*/
}

.pics-info-rcm:hover{
    background-color: rgba(23, 23, 23, 0.5);
    border-radius: 10%;
  }

.today-pics{
  display : flex;
  flex-direction: row;
  justify-content: center;
}
.today-pics img {
  margin-left: 10px;
  margin-right: 10px;
}
.today-cards{
  height : 300px;
  width : 300px;
  margin-top : 5px;
  object-fit: cover; /*이미지 적합하게 배치*/
  /*background-size: contain;*/
  border-radius: 10px;
  transition: opacity 0.3s ease; /*효과를 부드럽게 적용하기 위해 트랜지션 설정*/
}
.today-cards:hover {
  opacity : 0.8; /* hover 시 이미지의 투명도를 줄여 어두워지게 함 */
}
.user-profile-tdy{/*today에 사용되는 프로필 사진*/
  position: absolute;
  bottom: 45px;
  left: 10px; /* 원하는 위치로 조정 */
  width: 25px;
  height: 25px; 
  border-radius : 100%;
}
.pics-info-tdy{ /*today에 사용되는 user info*/
  position: absolute;
  bottom: 47px; /* 원하는 높이로 조정 */
  left: 52px; /* 원하는 위치로 조정 */
  color : white;
  text-shadow : 1px 1px 1px rgba(0, 0, 0, 0.184); /*잘보이게 하기 위해 그림자*/
}
.pics-info-tdy:hover{
  background-color: rgba(23, 23, 23, 0.5);
  border-radius: 10%;
}
.profile-click{
  cursor: pointer;
}