@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@100;400;500;700&display=swap');
.horizontal-line {
  border: 1px solid #919191; /* 회색으로 설정한 구분선 */
  width : 77%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 50px;
}
.main-title{
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
  padding-left: 200px;
  margin-top:15px
}
.masonry-grid{
  display: flex;
}
.masonry-grid_column{
  padding-left: 15px;
}
.container-masonry{
  display: flex;
  justify-content: center;
}
