.title-font:hover{
  color:rgb(238, 134, 7);
}
.color-buttons{
  position: absolute;
  right : 100px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  border-radius : 90%;
  height: 25px;
}
.color-button1{
  background-color :rgb(13, 246, 246);
  border : none;
}
.color-button1:hover{
  background-color :rgb(15, 179, 179);
  border : none;
}
.color-button2{
  background-color :rgb(235, 231, 17);
  border : none;
}
.color-button2:hover{
  background-color :rgb(219, 215, 25);
  border : none;
}
.color-button3{
  background-color :rgb(15, 245, 15);
  border : none;
}
.color-button3:hover{
  background-color :rgb(12, 208, 48);
  border : none;
}
.main-bg{
  height : 400px;
  width: auto;
  background-image: url('./img/main_bg.jpg');
  background-size: contain;
  background-position: center;
}
.main-pics{
  width : 250px; 
  margin-top : 10px;
  object-fit: cover; /*이미지 적합하게 배치*/
  border-radius: 10px;
}
.masonry-grid{
  display: flex;
}
.masonry-grid_column{
  padding-left: 15px;
}
.container{
  display: flex;
  justify-content: center;
}